*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: 'Nunito', sans-serif;
}

/* 1 số code css dùng chung trong bài  */
.title{
    text-align: center;
    padding: 30px;
    margin: auto;
    width: 64%;
}

.title h3{
    font-size: 16px;
    font-weight: 600;
    color: #dc4f72;
    line-height: 10px;
}

.title h2{
    font-size: 47px;
    font-weight: 600;
    color: black;
    line-height: 50px;
}

.dark .title h2
{
    font-size: 47px;
    font-weight: 600;
    color: white;
    line-height: 50px;
}

.title p{
    font-size: 16px;
    font-weight: 400;
    color: black;
    line-height: 30px;
}

.dark .title p
{
    font-size: 16px;
    font-weight: 400;
    color: white;
    line-height: 30px;
}



.themeButton{
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
    transition: all 0.4s;
}

.btn__primary{
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;

}

.btn__outline__primary{
    color: #dc4f72;
    border-color: #dc4f72;

}

.btn__light{
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

/* TOOLS */
.tools__content{
    margin: auto;
    width: 70%;
}

.tools__item{
    background: #F7F9FC;
    padding: 30px 45px;
    border-radius: 12px;
    transform: translateY(0);
    transition: 0.5s;
}

.tools__item:hover{
    transform: translateY(-10px);
    transition: all 0.5s;
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}

.tools__item img{
    max-width: 100%;
    padding-top: 30px;
}

.tools__item h3{
    font-weight: 600;
    font-size: 28px;
}

.tools__item p{
    color: #5a5a5a;
    font-size: 14px;
}

/* ABOUT US */

.title__left {
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
}

.title__left h3{
    font-size: 16px;
    font-weight: 600;
    line-height: 15px;
    color: #dc4f72;
}

.title__left h2{
    font-size: 35px;
    font-weight: 600;
    line-height: 40px;
    color: #2c3038;;
}

.title__left p{
    font-size: 15px;
    font-weight: 400;
    color: #5a5a5a;
    line-height: 23px;
}

.title__right img{
    max-width: 100%;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    border-radius: 5px;
    transform: translateY(0);
    transition: all 0.5s;
}

.title__right img:hover{
    transform: translateY(-10px);
    transition: all 0.5s;
}

.title__left .themeButton:hover{
    background-color: #ba254a;
    border-color: transparent;
    color: white;
    transition: all 0.5s;
}

.number__item{
    background-color: #fff;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);;
    transition: all 0.4s;
    border: 1px solid #eee;
}

.number__item h4{ 
    font-size: 16px;
    line-height: 24.5px;
    color: #2c3038;
    font-weight: 700;
}

.number__item p:first-of-type{
    font-size: 55px;
    line-height: 55px;
    color: #dc4f72;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 10px;
}

.number__item p:last-of-type{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #5a5a5a;
}

/* HEADER */
.dark header{
    background-color: black;
    padding: 0px;
    transition: all 0.4s;
    height: 60px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}

header{
    background-color: white;
    padding: 0px;
    transition: all 0.4s;
    height: 60px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}

.fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2000;
}

.navbar .navbar-brand {
    font-size: 26px;
    font-weight: 700;
    text-transform: capitalize;
    color: #dc4f72;
    letter-spacing: -1px;
}

.navbar .navbar-brand span.fa {
    display: inline-block;
    color: #dc4f72;
}

.navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 15px;
    transition: all 0.5s;
    position: relative;
}

nav ul li{
    display: inline-block;
}

li{
    list-style: none;
}
.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
    color: #dc4f72;
}

.dark .navbar-expand-lg .navbar-nav .nav-link {
    text-transform: capitalize;
    transition: all 0.5s ease;
    padding: 14px 0;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.navbar-expand-lg .navbar-nav .nav-link {
    text-transform: capitalize;
    transition: all 0.5s ease;
    padding: 14px 0;
    font-size: 16px;
    font-weight: 400;
    color: #2c3038;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #dc4f72;
}

#portNavbar li{
    font-size: 20px;
}

.dropdown-menu:hover{
    color: black;
}


/* Trước hover */
#navbarTogglerDemo02 .nav-item::after {
    content: "";

    width: 0;
    height: 3px;
    display: block;

    background-color: #dc4f72;
    transition: all .5s;
}

/* Sau hover */

/* #navbarTogglerDemo02 .nav-item{
    padding: 0 10px;
} */

#navbarTogglerDemo02 .nav-item .nav-link{
    color: black;
    transition: all .5s;
}

.dark #navbarTogglerDemo02 .nav-item .nav-link{
    color: white;
    transition: all .5s;
}

#navbarTogglerDemo02 .nav-item:hover::after{
    width: 50%;
}

#navbarTogglerDemo02 .nav-item:hover .nav-link{
    color:#dc4f72;
}

#navbarTogglerDemo02 .nav-item .dropdown-menu a:hover{
    color:#dc4f72;
}

#navbarTogglerDemo02 .nav-item.active .nav-link{
    color: #dc4f72; 
}

nav ul li a, nav ul li a:after, nav ul li a:before {
    transition: all .5s;
}

.nav-item .btn__outline__primary:hover{
    background-color:#dc4f72 ;
    color: white;
    transition: all 0.4s;
}



/* COMMIT */

.commit{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 480px;
    display: grid;
    align-items: center;
    padding: 20px 0;
}

.commit__title{
    max-width: 550px;
}

.commit__title h3{
    color: white;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.commit__title p{
    font-size: 16px;
    color: #eee;
    line-height: 25px;
}

.commit__title .themeButton:hover{
    background-color: #e2e6ea;
    transition: all 0.4s;
}

/* GENERAL */

.general{
    background-color: #f7f9fc;
}

.dark .general{
    background-color: black;
}

.right__list ul{
    list-style: none;
    padding: 0;
    max-width: 750px;
    margin: 0 auto;
}

.right__list li{
    position: relative;
    padding: 25px 50px 5px 20px;
    border: 1px solid #eee;
    margin: 0 0 15px 0;
    border-radius: 5px;
    background: #fff;
}

.right__list input[type=checkbox]{
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    top: 0;
    left: 0;
}

.right__list ul li i{
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 25px;
    top: 16px;
}

.right__list ul li i::before{
    content: "";
    position: absolute;
    background-color: #2c3038;
    width: 3px;
    height: 9px;
    transform: translate(2px, 0) rotate(-45deg);
    transition: all 0.4s;
}

.right__list ul li input[type=checkbox]:checked ~ i::before{
    transform: translate(-2px, 0) rotate(-45deg);

}


.right__list ul li i::after{
    content: "";
    position: absolute;
    background-color: #2c3038;
    width: 3px;
    height: 9px;
    transform: translate(-2px, 0) rotate(45deg);
    transition: all 0.4s;
}

.right__list ul li input[type=checkbox]:checked ~ i::after{
    transform: translate(2px, 0) rotate(45deg);
}

.right__list h2{
    font-size: 20px;
    line-height: 1;
    font-weight: normal;
    display: block;
    margin: 0;
    cursor: pointer;
    color: #2c3038;
}

.right__list ul li input[type=checkbox]:checked ~ p{
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
    transition: all 0.3s;
}

.right__list p{
    color: #5a5a5a;
    font-size: 16px;
    line-height: 24.5px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;
    transition: all 0.3s;
}

.item__left img{
    max-width: 100%;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    border-radius: 5px;
    transform: translateY(0);
    transition: all 0.5s;
}

.item__left img:hover{
    transform: translateY(-10px);
    transition: all 0.5s;
}

/* READY */

.buttons  .themeButton:hover{
    background-color: #ba254a;
    border-color: transparent;
    color: white;
    transition: all 0.5s;
}

.buttons .btn__outline__primary:hover{
    background-color: #dc4f72;
    transition: all 0.5s;
}

/* FOOTER */

.footer__content{
    background-color: white;
    color: black;
}

.dark .footer__content{
    background-color: black;
}


.dark .item__left .mainitem__left h3{
    font-size: 20px;
    line-height: 25px;
    color: white;
    margin-bottom: 30px;
    font-weight: 700;

}
 .item__left .mainitem__left h3{
    font-size: 20px;
    line-height: 25px;
    color: #2c3038;
    margin-bottom: 30px;
    font-weight: 700;

}

.item__left .mainitem__left li{
    display: block;
    list-style: none;
    margin: 10px 0;

}

.dark .item__left .mainitem__left li a{
    color: white;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    padding: 0;
    text-transform: capitalize;
    text-decoration: none;
}

.item__left .mainitem__left li a{
    color: #656f7b;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    padding: 0;
    text-transform: capitalize;
    text-decoration: none;
}

.item__left .mainitem__left li a:hover{
    color: #dc4f72;
    opacity: 0.7;
    transition: all 0.7s;
}

.dark .item__right h3{
    font-size: 20px;
    line-height: 25px;
    color: white;
    margin-bottom: 30px;
    font-weight: 700;
}

.item__right h3{
    font-size: 20px;
    line-height: 25px;
    color: #2c3038;
    margin-bottom: 30px;
    font-weight: 700;
}

.item__right .mainitem__right{
    background-color: white;
    padding: 2em;
    border-radius: 5px;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);

}

.item__right .mainitem__right h4{
    font-size: 18px;
    line-height: 25px;
    color:#2c3038;
    margin-bottom: 30px;
    font-weight: 500;
}

.item__right input{
    background: #f7f9fc;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    width: 78%;
    color: #2c3038;
    font-weight: 600;
    border-radius: 5px;
}

.item__right button{
        /* text-align: center; */
        background: #dc4f72;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: 600;
        padding: 12px 20px;
        cursor: pointer;
        width: 20%;
        color: white;
        border-radius: 5px;
}

.item__right p{
    line-height: 22px;
    color: #5a5a5a;
    font-size: 16px;
}

.footer__itembottom{
    border-top: 1px solid #eaeaea;
}

.dark .footer__itembottom .bottom__left p{
    line-height: 22px;
    color: white;
    font-size: 16px;
}

.footer__itembottom .bottom__left p{
    line-height: 22px;
    color: #5a5a5a;
    font-size: 16px;
}

.footer__itembottom .bottom__left a:hover{
    color: #dc4f72;
    transition: all 0.5s;
}

.footer__itembottom .bottom__right li{
    display: inline-block;
    margin-right: 5px;
    list-style: none;
}


.dark .footer__itembottom .bottom__left a{
    color: white;
    text-decoration: none;
}

.footer__itembottom .bottom__left a{
    color: #2c3038;
    text-decoration: none;
}

.dark .footer__itembottom .bottom__right li a{
    color:white;
    width: 35px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    font-size: 15px;
    line-height: 36px;
}

.footer__itembottom .bottom__right li a{
    color: #2c3038;
    width: 35px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    font-size: 15px;
    line-height: 36px;
}

.footer__itembottom .bottom__right li a:hover{
    color: #dc4f72;
    transition: all 0.5s;
}

/* (LIGHT - DARK) THEME  */
#myBody{
    background-color:white;
  }
  #switchButton {
    background-color: black;
  }
  #switchButton .fa-sun {
    display: none;
  }
  #switchButton .fa-moon {
    display: block;
    color: white;
  }
  
  /* Dark Theme*/
  .dark#myBody{
    background-color:black;
  }
  .dark #switchButton {
    background-color: white;
  }
  .dark #switchButton .fa-sun {
    display: block;
  }
  
  .dark #switchButton .fa-moon {
    display: none;
    color: white;
  }
